p
{
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.bgbox
{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    border:solid 2px navy;
    background-color: lightyellow;
    width:750px;
    height: 270px;
    padding:0.5rem;
}
.column
{
    border:solid 2px navy;
    background-color: lightblue;
    flex-direction: column;    
}

.box1
{
    flex-direction: column;
    align-items: center;
    border:solid 2px navy;
    background-color: lightblue;
    width:200px;
    height: 266px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    /* margin-top: 0.5rem; */
}
.box2
{
    flex-grow: 1;
    border:solid 2px navy;
    background-color: cyan;
    width:500px;
    height: 110px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.box3
{
    flex-grow: 1;
    border:solid 2px navy;
    background-color: cyan;
    width:500px;
    height: 110px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}