html
{
    background-color: yellowgreen;
}
nav
{
    display:flex;
}
nav ul
{
    display:flex;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background-color: navy;
    font-size: 0;
    padding-left: 0;
    height: 2.438rem;
}
nav li
{
    width: 10rem;
    text-align: center;
    margin-top:0;
    /* margin-right: -.42rem; */
    background-color: #232f3e;
    border:solid #232f3e 1px;
    flex-direction: row;
    align-content:flex-start;
}
nav a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* border:solid #232f3e 1px; */
    color: #FFFFFF;
    display:block;
    padding: 8px 9px;
    margin: 5px 0 6px;
}
nav li:hover
{
    border:solid #FFFFFF 1px;
}