html
{
    background-color:yellowgreen;
}
nav ul
{
    /* tar bort punkterna i unordered list */
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*Set font-size to 0 to get rid of spaces between the li-elements,
    to avid using negative numbers*/
    font-size: 0;
    padding-left: 0;
    height: 2.438rem;
    overflow:hidden;
    background-color: navy;
}

nav li
{
    width: 10rem;
    text-align: center;
    margin-top:0;
    /* margin-right: -.42rem; */
    background-color: #232f3e;
    border:solid #232f3e 1px;
    display: inline-block;
}

nav a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    /* border:solid #232f3e 1px; */
    color: #FFFFFF;
    display:block;
    padding: 8px 9px;
    margin: 5px 0 6px;
}

/* nav a:hover
{
    border:solid #FFFFFF 1px;
} */
nav li:hover
{
    border:solid #FFFFFF 1px;
}
/*
702.83 x 39
0F1111

#FFFFFF
41.35 x 28
14px arial
margin 5 0 6
padding 8 9