*
{
    margin:0;
    padding:0;
    outline:0;
}
a
{
    text-decoration: none;
    color:black;
}
.wrapper
{
    display:grid;
    grid-template-rows: 2rem 4rem 1.2rem auto 4rem;
    grid-template-columns: 12rem auto;
}
header
{
    grid-row: 1/2;
    grid-column: 1/3;
    display:flex;   
    justify-content: flex-start; 
}
header p
{
    margin-right: 2rem;
    margin-left: 2rem;
}
.logo
{
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    font-weight: bold;
    color:red;
}
ul li
{
    list-style-type: none;
}
nav
{
    grid-row: 3/4;
    grid-column: 1/3;
    text-align: center;    
}
nav a
{
    margin: 0 1.5rem 0 1.5rem;
}
aside
{
    grid-row: 4/5;
    grid-column: 1/2;   
    display:block; 
}
aside a
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}
main
{
    background-color: rgb(248, 248, 240);
}
.image-container
{
    display:flex;
    flex-flow: row wrap;
}
figure
{
    margin-top: 2rem;
    padding: .5rem;
    flex: 0 0 20%;
}
img
{
    width:100%;
}
@media (max-width: 300px)
{
    figure
    {
        flex: 0 0 100%
    }
}
@media (min-width: 500px)
{
    figure
    {
        flex: 0 0 40%
    }
}
@media (min-width: 600px)
{
    figure
    {
        flex: 0 0 25%
    }
}
@media (min-width: 900px)
{
    figure
    {
        flex: 0 0 20%
    }
}
footer
{
    grid-row: 5/6;
    grid-column: 1/3;
}