*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body
{
    height: 100%;
}

.wrapper
{
    display: grid;
    min-height: 100%;
    grid-template-columns: auto 10rem;
    grid-template-rows: 8rem 4rem auto 6rem;
}
header
{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #6D8299;
}
nav
{    
    grid-row: 2/3;
    grid-column: 1/3;
    background: #D5BFBF;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: sticky;
    top: 0;
}
nav a
{
    padding: 1rem;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
    text-shadow: black 0.8px 0.8px;
}
/* nav a:nth-child(2)
{
    color: black;    
} */
nav a:nth-last-child(1)
{
    margin-left: auto;
    margin-right:1rem;
}
main
{
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #6D8299;
}
aside
{
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #6D8299;
}
footer
{
    grid-row: 4/5;
    grid-column: 1/3;
    background: #D5BFBF;
}